body{
    
background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: aliceblue;
    border-radius: 13%;
    width: 100px;
}

button:hover{
    background-color: #00DBDE;
}

img{
    border-radius: 15px;
}
*{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}